h1 {
    color: orange;
}

nav {
    display: none;
}

#hamburger-menu{
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

img{
    width: 100%;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
  }

  
         